/* buttons.css */
/* Buttons */

button, .button {
  background-color: #e4edff;
  color: black;

  border-radius: 10px;
  border: none;

  padding: 10px 20px;
  margin: 10px;
  
  cursor: pointer;
  font-size: 1em;

  align-items: center;

}

button:hover, .button:hover {
  background-color: #b2c9f6;
}

.button-container {
    margin: 10px;
    display: flex;  
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}