/* photos.css */
/* Photos */

.photo {
    width: 100%;
    border: none;
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 1rem;
    justify-items: center;
    width: 100%;
}

.photo-description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 10px;
  margin-top: 0px;
  font-size: 0.8em;
}

.photo-description-container {
    margin: 0px;
    text-align: center;
}