/* video.css */
/* Video, iframe (embedded YouTube videos) */ 

.youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 1rem;
  justify-items: center;
  width: 100%;
}